    .borderCL{
        background: linear-gradient(60deg, rgba(237,186,107,1) 0%, rgba(204,128,79,1) 100%) ;
        padding: 20px;
        width: auto;
        height: auto;
        position: fixed;
        left: 0;
    }
    .borderSD{
        box-shadow: 1px 1px 8px #000;
        width: 100% !important;
        height: auto;
    }
    .flex-container{
        display: flex;
        align-items: stretch;
        text-align: center;
        justify-content: center;
        background-color: #FFF;
    }
    .flex-col{
        flex-direction: column;
        justify-content: space-between;
        
        
    }
    .flex-row{
        flex-direction: row;
    }
    .innerBox {
        padding: 50px;
        background-color: #f5e8df;
    }
    .flex-container > div  img{
        width: 30%;
        border-radius: 60%;
    }
    .flex-container> div h3,p{
        margin: 0;
        color: #9f9485;
    }
    .flex-container div p{
        font-size: 12px;
    }
    .flex-container div  button{
        background-color: #FFF;
        color: #9f9485;
        width: 70%;
        height: 40px;
        border: solid 1.5px #9f9485;
        border-radius: 20px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;

    }
    .flex-container div  button:hover{
        background-color:#f5e8df !important;
    }
    .flex-container  hr{
        margin: auto;
        border:solid 1px;
        border-color:#FFF;
    }
    .leftside{
        padding: 30px 0px 30px 0px;
    }
    
